[phases.setup]
nixPkgs = ["nodejs-20_x"]

[phases.install]
cmds = [
  "npm install --legacy-peer-deps --prefer-offline --no-audit",
  "npm run prisma:generate"
]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npm run start:prod"

